fastapi
uvicorn[standard]
pydantic-settings
sqlalchemy[asyncio]
alembic
aiomysql
pymysql==1.0.3
python-jose
passlib[bcrypt]
redis
loguru
sqlglot
langchain
sentence-transformers
faker
tabulate
email-validator
